[Unit]
Description="Nexus Proving"
After=network-online.target

[Service]
Type=simple
User={{ ansible_user }}
ExecStart={{ user_dir }}/nexus-network start --node-id {{ node_id }} --headless
Restart=always
RestartSec=2
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target